@model Lab2.Web.Models.WinterModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Winter", FormMethod.Post, new {@class = "form-horizontal"}))
{
    @Html.ValidationSummary(true)

    var messages = ViewBag.ErrorMessages as List<String>;
    if (messages != null)
    {
        foreach (var message in messages)
        {
            <p>@message</p>
        }
    }


    <div class=" form-group ">
        
        @Html.LabelFor(x => x.Temperature)
        @Html.EditorFor(x => x.Temperature, new {@class = "form-control"})
        @Html.ValidationMessageFor(x => x.Temperature)
    </div>

    <div class=" form-group ">
        @Html.LabelFor(x => x.SnowQty)
        @Html.EditorFor(x => x.SnowQty, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SnowQty)
    </div>
    <div class=" form-group ">
        @Html.LabelFor(x => x.Label)
        @Html.EditorFor(x => x.Label, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Label)
    </div>
    <div class=" form-group ">
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password)
    </div>

    <div class=" form-group ">
        @Html.LabelFor(x => x.FrostyEmailAddress)
        @Html.EditorFor(x => x.FrostyEmailAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FrostyEmailAddress)
    </div>
    
    <input type="submit" class="btn btn-default" value="Create this cool winter"/>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
