    @model MyCoolApplication.Models.Faculty

    @{
        ViewBag.Title = Model.Name;
    }

    <h2>@Model.Name</h2>
    <div>
        @Html.DisplayNameFor(model => model.StudentsCount) :
        @Html.DisplayFor(model => model.StudentsCount)
    </div>
<div>
    @Html.DisplayNameFor(model => model.TeachersCount) :
    @Html.DisplayFor(model => model.TeachersCount)
</div>

@using (Ajax.BeginForm("Action", new AjaxOptions { HttpMethod = "Post", OnFailure = "ShowAjaxError", OnComplete = "ScrollToTop"}))
{
    <input type="submit" value="but 1" />
    <input type="submit" value="but 2" />
}
<script>
    function ScrollToTop() {

        $('html, body').animate({ scrollTop: 0 }, 800);
        console.log("clicked");

        return false;
    }
</script>